.contacts {
  display: flex;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url(../images/cont-m-1.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/cont-m-2.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/cont-t-1.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/cont-t-2.png);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/cont-d-1.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/cont-d-2.png);
    }
  }
  @media screen and (min-width: 480px) {
    padding: 84px 31px 84px 31px;
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding: 100px 39px 100px 39px;
    width: 768px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    width: 625px;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      display: inline-block;
      align-items: baseline;
    }
  }
  &__address {
    @media screen and (min-width: 768px) {
    }
  }

  &__title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;

    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 40px;
    @media screen and (min-width: 480px) {
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }
  &__list {
    margin-bottom: 44px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 70px;
    }
  }
  &__item {
    align-items: center;
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    align-items: center;
  }
  &__icon {
    margin-right: 16px;
  }
  &__pre-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    &::before {
      content: " ";
      left: 0;
      height: 1px;
      width: 60px;
      margin-right: 20px;
      background: rgba(157, 164, 189, 0.4);
    }
  }
  &__pre-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
  }
}
