.header {
  display: flex;
  position: relative;
}
.header-right {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url(../images/hero-m-1.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-m-2.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero-t-1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-t-2.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero-d-1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-d-2.jpg);
    }
  }
  padding-top: 40px;

  @media screen and (max-width: 479px) {
    width: 320px;
    height: 580px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
    height: 580px;
    padding-right: 31px;
    padding-left: 31px;
  }
  @media screen and (min-width: 768px) {
    width: 577px;
    height: 680px;
    padding-right: 0px;
    padding-left: 22px;
    margin-right: 0px;
  }
  @media screen and (min-width: 1200px) {
    width: 1000px;
    height: 680px;

    padding-left: 40px;
    margin-right: 0px;
  }
}

.header-mob {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__batton-menu {
    color: ffffff;
  }
}
.batton-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-container {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms linear;
  z-index: 999;
  .mob-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container__batton-menu {
  position: absolute;
  top: 30px;
  right: 40px;
}

.mobile-menu-list {
  &__link {
    @include font(600, 18px, 1.39, 0.1em);
    text-align: center;
    color: #303030;
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }
  &__item {
    margin-bottom: 24px;
  }
}

.mobile-menu-contacts {
  &__link {
    @include font(600, 18px, 1.39, 0.1em);
    text-transform: uppercase;
    color: #303030;
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }
}
.mobile-menu-social {
  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-left: 100px;
    }
  }
  &__item--line::before {
    content: " ";
    left: 0;
    height: 1px;
    width: 60px;
    margin-right: 40px;
    background: #303030;
  }
  &__link {
    @include font(600, 14px, 1.36, 0.2em);
    color: #303030;
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }
}

.navigation {
  display: flex;
  align-items: flex-start;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: baseline;
  }
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }
  &__link {
    @include font(600, 12px, 1.33, 0.1em);
    color: #ffffff;
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }
}
.nav-contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
  }
}
.header-left {
  padding-left: 40px;
  padding-right: 35px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    position: absolute;
    display: flex;
    transform: rotate(-90deg);
    right: 66%;
    bottom: 16%;
    background: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    right: 79%;
    bottom: 16%;
  }
}
