.hero {
  width: 306px;
  margin-bottom: 183px;
  margin-top: 112px;
  @media screen and (min-width: 768px) {
    width: 349px;
    padding-left: 48px;
    margin-top: 164px;
    margin-bottom: 234px;
  }
  @media screen and (min-width: 1200px) {
    width: 525px;
    padding-left: 56px;
    margin-top: 172px;
    margin-bottom: 206px;
  }
  &__pre-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
    &::before {
      content: " ";
      left: 0;
      height: 1px;
      width: 60px;
      margin-right: 20px;
      background: rgba(157, 164, 189, 0.6);
    }
  }
  &__title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__pre-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62px;
    letter-spacing: 0.02em;
    color: #9da4bd;
  }
}
