.hero {
  width: 306px;
  margin-bottom: 183px;
  margin-top: 112px;
  @media screen and (min-width: 768px) {
    width: 349px;
    padding-left: 48px;
    margin-top: 164px;
    margin-bottom: 234px;
  }
  @media screen and (min-width: 1200px) {
    width: 525px;
    padding-left: 56px;
    margin-top: 172px;
    margin-bottom: 206px;
  }
  &__pre-title {
    @include font(600, 11px, 1.36, 0.1em);
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
    &::before {
      background: rgba(157, 164, 189, 0.6);
    }
  }
  &__title {
    font-family: Raleway;
    color: #ffffff;
    @include font(700, 48px, 1.17, 0.05em);
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      @include font(700, 72px, 1.18, 0.05em);
    }
  }
  &__pre-text {
    @include font(400, 16px, 1.62, 0.02em);
    color: #9da4bd;
  }
}
