.logo {
  @media screen and (max-width: 479px) {
    fill: white;
  }
  @media screen and (min-width: 480px) {
    fill: white;
  }
  @media screen and (min-width: 768px) {
    fill: black;
    transform: rotate(90deg);
    margin-top: 0;
  }
}
