.button {
  display: flex;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  color: #303030;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ff6c00;
    color: #ffffff;
  }

  &__price {
    color: #ffffff;
    margin: 0 auto;
  }
  &__online {
    color: #ffffff;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      margin-left: 0px;
    }
  }
}
.button__hero {
  display: inline-flex;
  &:hover,
  &:focus {
    background-color: var(--bg-color-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.button__footer {
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    background-color: #ff6c00;
    color: #ffffff;
  }
}
.button__form {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: var(--bg-color-btn);
  }
}
