.button {
  display: flex;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  @include font(600, 12px, 1.33, 0.09em);
  color: #303030;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #ff6c00;
    color: #ffffff;
  }

  &__price {
    color: #ffffff;
    margin: 0 auto;
  }
  &__online {
    color: #ffffff;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      margin-left: 0px;
    }
  }
  &__mobile {
    width: 194px;
    margin-top: 24px;
    margin-bottom: 64px;
  }
  &__header {
    color: #ffffff;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 40px;
    }
  }
}
